* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(-180deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
a.cross:hover {
  text-decoration: line-through;
}

/* Page search results
   ========================================================================== */
.page-search-meta {
  /* Results styles
   ========================================================================== */
  /* Facets styles
   ========================================================================== */
}
.page-search-meta .dropdown-wrapper {
  float: left;
  display: block;
  margin-right: 2.4911%;
  width: 48.75445%;
  overflow: hidden;
}
.page-search-meta .dropdown-wrapper:last-child {
  margin-right: 0;
}
.page-search-meta .dropdown-wrapper .mkdru-sort {
  float: left;
  display: block;
  margin-right: 5.10949%;
  width: 100%;
  min-width: inherit;
}
.page-search-meta .dropdown-wrapper .mkdru-sort:last-child {
  margin-right: 0;
}
.page-search-meta .dropdown-wrapper .mkdru-perpage {
  float: left;
  display: block;
  margin-right: 5.10949%;
  width: 100%;
  min-width: inherit;
}
.page-search-meta .dropdown-wrapper .mkdru-perpage:last-child {
  margin-right: 0;
}
.page-search-meta .pane-search-results .mkdru-above-below {
  border: none;
}
.page-search-meta .pane-search-results .mkdru-status-inner-container {
  margin-top: 30px;
}
.page-search-meta .pane-search-results .search-snippet-info h3 {
  font-family: FaktPro-SemiBold,sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
}
.page-search-meta .pane-search-results .search-snippet-info h3 a {
  color: #262626;
}
.page-search-meta .pane-search-results .search-snippet-info .picture img {
  width: 100%;
}
.page-search-meta .pane-search-results .results-see-online {
  float: right;
  margin-right: 10px;
}
.page-search-meta .pane-search-facets fieldset {
  border-top: 1px solid rgba(38, 38, 38, 0.2);
}
.page-search-meta .pane-search-facets fieldset .mkdru-facet {
  clear: both;
}
.page-search-meta .pane-search-facets fieldset .mkdru-facet label {
  color: #4d898e;
  cursor: pointer;
}
