@import "../../../themes/ddbasic/sass/_base.scss";

a.cross:hover {
  text-decoration: line-through;
}

/* Page search results
   ========================================================================== */

.page-search-meta {
  .dropdown-wrapper {
    @include span-columns(6 of 12);
    overflow: hidden;

    .mkdru-sort {
      @include span-columns(6 of 6);
      min-width: inherit;
    }

    .mkdru-perpage {
      @include span-columns(6 of 6);
      min-width: inherit;
    }
  }
  /* Results styles
   ========================================================================== */
  .pane-search-results {
    .mkdru-above-below {
      border: none;
    }

    .mkdru-status-inner-container {
      margin-top: 30px;
    }

    .search-snippet-info {
      h3 {
        font-family: FaktPro-SemiBold,sans-serif;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;

        a {
          color: #262626;
        }
      }

      .picture {
        img {
          width: 100%;
        }
      }
    }

    .results-see-online {
      float: right;
      margin-right: 10px;
    }
  }

  /* Facets styles
   ========================================================================== */
  .pane-search-facets {
    fieldset {
      border-top: 1px solid rgba(38, 38, 38, .2);
      .mkdru-facet {
        clear: both;
        label {
          color: $color-primary;
          cursor: pointer;
        }
      }
    }
  }
}
